{% if _table['PEERS']|length > 0 %}
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <div class="card-header border-transparent">
                <h3 class="card-title" id="tbl_srv"></h3>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table m-0 table-sm table-bordered">
                        <thead>
                            <tr>
                                <th class="align-middle text-center p-0" style="width: 140px;"><span id="tsrv_service"></span><br><span id="tsrv_mode"></span></th>
                                <th class="align-middle text-center" style="width: 180px;"><span id="tsrv_callsign"></span> <span
                                    class="badge badge-info" id="tsrv_id"></span><br><span id="tsrv_info"></span></th>
                                <th class="align-middle text-center" style="width: 90px;"><span id="tsrv_contime"></span><br><span id="tsrv_trl"></span></th>
                                <th class="align-middle text-center" style="width: 40px;" id="tsrv_slot"></th>
                                <th class="align-middle text-center" id="tsrv_src"></th>
                                <th class="align-middle text-center" id="tsrv_dst"></th>
                            </tr>
                        </thead>
                        <tbody>
    {% for _peer, _pdata in _table['PEERS'].items() %}
                            <tr>
                                <td class="align-middle text-center p-0" rowspan="3">
                                    <span><b>{{ _peer}}</b></span><br>
                                    <span>{{ _table['PEERS'][_peer]['MODE'] }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle text-center">
                                    <span><b><a target="_blank" href="#" data-toggle="tooltip" data-html="true"
                            title="Time Slot: {{ _table['PEERS'][_peer]['SLOTS'] }}">{{_table['PEERS'][_peer]['CALLSIGN']}}</a></b></span>
                                    <span class="badge badge-info">{{ _table['PEERS'][_peer]['RADIO_ID']}}</span>
                                </td>
                                <td rowspan="2" class="align-middle text-center
        {% if _table['PEERS'][_peer]['STATS']['CONNECTION'] == 'YES' %}
                      bg-success
        {% else %}
                      bg-warning
        {% endif %}">
        {{ _table['PEERS'][_peer]['STATS']['CONNECTED'] }}<br>
                                    <div style="font-size: smaller;">{{ _table['PEERS'][_peer]['STATS']['PINGS_SENT'] }} / {{
                                    _table['PEERS'][_peer]['STATS']['PINGS_ACKD'] }} / {{
                                    _table['PEERS'][_peer]['STATS']['PINGS_SENT'] - _table['PEERS'][_peer]['STATS']['PINGS_ACKD'] }}
                                    </div>
                                </td>
                                <td class="table-active align-middle text-center">
                                    <span class="badge badge-pill
            {% if _pdata[1]['TRX'] == 'RX' %}
                        badge-danger
            {% elif _pdata[1]['TRX'] == 'TX' %}
                        badge-success
            {% else %}
                        badge-secondary
            {% endif %}
                                    ">TS1</span>
                                </td>
                                <td class="table-active align-middle text-center">
                                    <span class="badge 
            {% if _pdata[1]['TRX'] == 'RX' %}
                      badge-danger
            {% elif _pdata[1]['TRX'] == 'TX' %}
                      badge-success
            {% endif %}
                                ">{{ _pdata[1]['SUB']|safe }}</span>
                                </td>
                                <td class="table-active align-middle text-center">
                                    <span class="badge 
            {% if _pdata[1]['TRX'] == 'RX' %}
                      badge-danger
            {% elif _pdata[1]['TRX'] == 'TX' %}
                      badge-success
            {% endif %}
                                    ">{{ _pdata[1]['DEST']|safe }}</span>
                                </td>
                                <tr>
                                    <td class="p-0 align-middle text-center">{{_table['PEERS'][_peer]['LOCATION']}}</td>
                                    <td class="align-middle text-center">
                                        <span class="badge badge-pill 
            {% if _pdata[2]['TRX'] == 'RX' %}
                        badge-danger
            {% elif _pdata[2]['TRX'] == 'TX' %}
                        badge-success
            {% else %}
                        badge-secondary
            {% endif %}
                                        ">TS2</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="badge 
            {% if _pdata[2]['TRX'] == 'RX' %}
                        badge-danger
            {% elif _pdata[2]['TRX'] == 'TX' %}
                        badge-success
            {% endif %}
                                        ">{{ _pdata[2]['SUB']|safe }}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="badge 
            {% if _pdata[2]['TRX'] == 'RX' %}
                        badge-danger
            {% elif _pdata[2]['TRX'] == 'TX' %}
                        badge-success
            {% endif %}
                                        ">{{ _pdata[2]['DEST']|safe }}</span>
                                    </td>
                                </tr>
                            </tr>
    {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}